<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> تاپ لرن | @ViewData["Title"] </title>
    @RenderSection("MetaTags",false);
    <partial name="_MetaTags" />
    <partial name="_Styles" />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <script src="/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> همکاری در فروش </a>
                                <a href=""> درباره ما </a>
                                <a href=""> تماس با ما </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein ">
                                    <i class="zmdi zmdi-account"></i><a href="">  @User.Identity.Name ، خوش آمدی </a>
                                    / <a href="/Logout"> خروج </a>
                                </div>
                            }
                            else
                            {
                                <div class="signin">
                                    <i class="zmdi zmdi-account"></i>
                                    <a href="/Login"> ورود </a> /
                                    <a href="/Register"> عضویت </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </nav>
            @RenderSection("SearchBox", false)
        </div>
    </div>

    <!-- main manu -->
    @await Component.InvokeAsync("CourseGroupComponent")
    <!-- /main manu -->
    <!-- content -->
    @RenderBody()
    <!-- /content -->
    <!-- footer -->
    <partial name="_Footer" />
    <!-- /footer -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>*@

    @RenderSection("Scripts", false);

</body>
</html>
